<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br/>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <hr>

    <div class="field">
      <%= f.label 'Studio name' %><br/>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label 'Intro' %><br/>
      <%= f.text_area :intro %>
    </div>


    <div class="field">
      <%= f.label :Province %><br/>
      <%= f.select :province, ['Vancouver', 'Alberta', 'Ontario'] %>
    </div>

    <%= f.select :country, CS.countries.map { |c| [c[1], c[0]] } %>


    <!--<div class="field">-->
    <!--<%= f.label 'City' %>-->
    <!--<%= f.text_field :city %>-->
    <!--</div>-->

    <div class="field">
      <%= f.label :phone %><br/>
      eg. 778-xxx-xxxx
      <%= f.text_field :phone %>
    </div>


    <div class="field">
      <%= f.label :website %><br/>
      http://<%= f.text_field :website %>
    </div>

    <div id="city_5">
      <select class="prov"></select>
      <select class="city" disabled="disabled"></select>
      <select class="dist" disabled="disabled"></select>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
<% end %>

<%= render "users/shared/links" %>

<script type="text/javascript" charset="utf-8">

    $(function () {

//        $('#user_country').change(function () {

//console.log($('#user_country').find(":selected").attr('value'));
// return value CA
//            var country = $('#user_country').find(":selected").attr('value');

//        });

        $("#city_5").citySelect({
            url: {
                "citylist": [
                    {
                        "p": "Vancouver",
                        "c": [{"n": "Burnaby"}, {"n": "Richmond"}, {"n": "xx"}, {"n": "xxx"}]
                    },
                    {
                        "p": "Alberta",
                        "c": [{"n": "C"}, {"n": "C++"}, {"n": "Objective-C"}, {"n": "PHP"}, {"n": "JAVA"}]
                    },
                    {"p": "Ontario", "c": [{"n": "Mysql"}, {"n": "SqlServer"}, {"n": "Oracle"}, {"n": "DB2"}]},
                ]
            },
            prov: "",
            city: "",
            dist: "",
            nodata: "none"
        });

    })
</script>
